/* See main.css for default definitions. */
html {
    background-image: url(../images/pages/laser-cutter/banner-1024.png);
}

@media (min-width: 1025px) {
    html {
        background-image: url(../images/pages/laser-cutter/banner-1680.gif);
    }
}

@media (min-width: 1681px) {
    html {
        background-image: url(../images/pages/laser-cutter/banner-1920.gif);
    }
}

/*@media (min-width: 1921px) {
    html {
        background-image: url(../images/pages/laser-cutter/banner.gif);
    }
}*/

aside img {
    margin: 1.25em 0;
}

section p:last-child {
    clear: right;
}
