@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Regular-webfont.ttf) format('truetype'),
         url(../fonts/OpenSans-Regular-webfont.svg#open_sansregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Bold-webfont.ttf) format('truetype'),
         url(../fonts/OpenSans-Bold-webfont.svg#open_sansbold) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Italic-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Italic-webfont.ttf) format('truetype'),
         url(../fonts/OpenSans-Italic-webfont.svg#open_sansitalic) format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: '1942 Report';
    src: url(../fonts/1942-webfont.woff) format('woff'),
         url(../fonts/1942-webfont.ttf) format('truetype'),
         url(../fonts/1942-webfont.svg#1942_report1942_report) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url(../fonts/PermanentMarker-webfont.woff) format('woff'),
         url(../fonts/PermanentMarker-webfont.ttf) format('truetype'),
         url(../fonts/PermanentMarker-webfont.svg#permanent_markerregular) format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/pages/summary/banner-1024.png) no-repeat 0 0 / 100% auto #1e4897;
}

/* Not aiming to capture all resolutions. Just trying to keep the file size down of a large image. */
@media (min-width: 1025px) {
    html {
        background-image: url(../images/pages/summary/banner-1680.gif);
    }
}

@media (min-width: 1681px) {
    html {
        background-image: url(../images/pages/summary/banner-1920.gif);
    }
}

/*@media (min-width: 1921px) {
    html {
        background-image: url(../images/pages/summary/banner.gif);
    }
}*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.smallscreens {
    display: none;
}

header, body > nav, section, .callout > div, .callout > section, #memberships, footer div {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    color: #f99d33;
    text-shadow: 0 0 2px black;
    text-transform: uppercase;
}

header h1 {
    float: left;
    width: 350px;
    height: 46px;
    margin: 40px 0 0 40px;
    text-indent: -1000px;
    background: url(../images/textlogo.png) no-repeat 0 0 / 100% auto;
}

header nav {
    overflow: hidden;
    margin-right: 40px;
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    height: 46px;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

header li {
    padding: 0 1.3em;
}

header li:last-child {
    padding-right: 0;
}

header a, header .fa {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
    color: inherit;
}

header h2 {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0 auto;
    font-family: '1942 Report';
    font-size: 2em;
    line-height: calc(100vw * 0.31137 - 80px - 2em);
    text-align: center;
    color: #f99d33;
}

@media (max-width: 800px) {
    header h1 {
        width: 43.75vw;
    }

    header h2 {
        font-size: 4vw;
    }

    header ul {
        height: 6vw;
    }
}

@media (max-width: 970px) {
    header nav {
        position: relative;
        overflow: visible;
    }

    header ul {
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        top: -.65em;
        right: -1.3em;
        height: 2.6em;
        overflow: hidden;
        border-radius: 5px;
    }

    header ul.open {
        height: auto;
        text-shadow: none;
        color: white;
        background: black;
    }

    header .smallscreens {
        display: block;
    }

    header li {
        padding-bottom: .65em;
    }

    header li.subpage {
        padding-left: 1.95em;
    }

    header li:first-child {
        padding-top: .65em;
        text-align: right;
        cursor: pointer;
    }

    header li:last-child {
        padding-right: 1.3em;
        padding-bottom: 1.2em;
    }
}

body > nav, section {
    padding: 0 40px;
}

section + section {
    margin-top: 1.5em;
}

section, section a {
    color: white;
}

body > nav ul, section ul {
    padding-left: 20px;
}

@media (max-width: 739px) {
    body > nav li, section li {
        margin-bottom: .5em;
    }
}

body > section:last-of-type ul:last-child {
    margin-bottom: 2.5em;
}

section aside {
    float: right;
    max-width: 45%;
    margin-left: 1.25em;
}

section aside img {
    display: block;
    max-width: 100%;
    margin-top: .25em;
}

@media (max-width: 799px) {
    section aside {
        float: none;
        order: -1;
        max-width: none;
        margin-top: 1em;
        margin-left: 0;
    }
}

h3 {
    margin: 0;
    margin-bottom: .83em;
    font-family: 'Permanent Marker';
    font-size: 1.5em;
}

strong {
    color: #f99d33;
}

.callout strong {
    color: #1e4897;
}

blockquote {
    margin: 1.5em 0 .5em;
    padding: .25em 0 .25em 1.25em;
    font-style: italic;
    border-left: 5px solid #f99d33;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.business-info {
    color: white;
}

.business-info h3 {
    margin-top: 0;
}

@media (max-width: 1679px) {
    body > nav, body > section:first-of-type h3 {
        margin-top: .5em;
    }
}

@media (max-width: 1100px) {
    body > nav, body > section:first-of-type h3 {
        margin-top: 1em;
    }
}

@media (max-width: 800px) {
    body > nav, body > section:first-of-type h3 {
        margin-top: 1.5em;
    }
}

.business-info address, .business-info dl, .business-info ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 40px;
}

@media (max-width: 700px) {
    .business-info address, .business-info dl, .business-info ul {
        display: block;
        margin-bottom: 1em;
    }

    .business-info ul {
        margin-bottom: 0;
    }
}

address {
    font-style: normal;
}

.business-info strong, .business-info a {
    color: white;
    text-decoration: none;
}

.business-info dl {
    /* fa-fw + .75em = fix for no-wrap overflow 'bug'. */
    padding-right: 2.03571em;
    white-space: nowrap;
}

.business-info dt {
    float: left;
    clear: left;
}

.business-info dd {
    margin-left: 0;
    color: inherit;
}

.business-info ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 0;
    padding: 0;
    font-size: 1.6em;
}

.business-info li {
    width: 50%;
}

.business-info .fa-clock-o:before {
    font-size: 1.1em;
}

.fa span {
    position: fixed;
    top: 0;
    left: -1000px;
}

.label {
    margin-right: .75em;
    text-align: right;
}

.callout {
    margin: 2em 0;
    background: #f99d33;
}

.callout > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.callout > div, .callout > section {
    margin: 0 auto;
    padding: 2em 40px;
}

.callout > section, .callout div section {
    color: black;
}

/* I didn't intend to use flexbox so much, honest. It just sort of happened that way. */
.callout div section {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
    padding: 0;
}

@media (max-width: 799px) {
    .callout > div {
        flex-direction: column;
    }

    .callout div section {
        width: 100%;
        margin-top: 2em;
    }

    .callout div section:first-child {
        margin-top: 0;
    }
}

.callout h3 {
    margin: 0;
}

.callout div section p {
    flex-grow: 1;
    margin-bottom: 1.5em;
}

.callout a {
    color: inherit;
}

.callout section > a, .page {
    align-self: center;
    padding: .3em 1em;
    font-size: 1.25em;
    text-decoration: none;
    color: #f99d33;
    background: #1e4897;
    border-radius: 5px;
}

.page {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: .5em;
    text-align: center;
    color: #1e4897;
    background: #f99d33;
}

.page:last-child {
    margin-bottom: .4em;
}

body > section:last-of-type .page:last-child {
    margin-bottom: 2em;
}

#memberships {
    margin-bottom: 2.5em;
    padding: 0 40px;
    color: white;
}

#memberships .fa {
    color: #f99d33;
}

#memberships table {
    display: inline-table;
    table-layout: fixed;
    /* Should be 378px and the next width 199px but this ensures the last box isn't
       knocked down to the next line by a pixel difference in rendering, just in case. */
    width: 377px;
    vertical-align: top;
    line-height: 1.4em;
    color: black;
    border-spacing: 0;
}

#memberships table:first-of-type th:first-child {
    width: 198px;
    padding-left: 0;
}

#memberships table:first-of-type th:last-child, #memberships table:first-of-type td:last-child, #memberships table ~ table {
    width: 179px;
}

#memberships table ~ table {
    margin-left: 8px;
}

#memberships thead th {
    height: 3.3em;
    background: white;
}

#memberships thead th:first-child {
    background: none;
}

#memberships td, #memberships th {
    box-sizing: border-box;
    padding: .25em .5em;
    text-align: center;
}

#memberships table ~ table thead th:first-child, #memberships table ~ table tbody th {
    display: none;
}

#memberships tbody th {
    padding-right: 1em;
    text-align: right;
    white-space: nowrap;
    color: white;
}

#memberships td {
    white-space: nowrap;
    background: white;
}

#memberships tr:nth-child(odd) td {
    background: #f0f0f0;
}

#memberships thead tr:first-child th {
    border-radius: 5px 5px 0 0;
}

#memberships tr:last-child td {
    border-radius: 0 0 5px 5px;
}

.fineprint {
    margin-left: 25%;
}

.fineprint, .footnote {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: .8125em;
}

.fineprint + .fineprint, .footenote + .footnote {
    margin-top: -1em;
}

.fineprint:last-child, .footenote:last-child {
    margin-bottom: 0;
}

@media (max-width: 1023px) {
    #memberships table {
        display: table;
        transform: translateX(-99px);
        margin: 0 auto;
        margin-bottom: 1em;
    }

    #memberships table:last-of-type {
        margin-bottom: 0;
    }

    #memberships table ~ table thead tr th:first-child, #memberships table ~ table tbody tr th {
        display: table-cell;
    }

    #memberships table th:first-child {
        width: 198px;
        padding-left: 0;
    }

    #memberships table th:last-child, #memberships table td:last-child, #memberships table:first-of-type th:last-child, #memberships table:first-of-type td:last-child {
        width: 159px;
    }

    #memberships table, #memberships table ~ table {
        width: 357px;
        margin-left: auto;
    }

    .fineprint {
        margin-left: 0;
    }
}

/* Just like the timing chip. Sort of. */
@media (max-width: 555px) {
    #memberships h3 {
        padding-left: 40px;
    }

    #memberships {
        padding: 0;
    }

    #memberships table {
        transform: none;
    }

    .fineprint {
        margin-left: 1em;
    }

    #memberships table th:first-child, #memberships table:first-of-type th:first-child {
        width: 128px;
        padding-left: 0;
    }

    #memberships table th:first-child, #memberships table:first-of-type th:first-child {
        line-height: 1.4em;
        white-space: normal;
    }

    #memberships table th:last-child, #memberships table td:last-child, #memberships table:first-of-type th:last-child, #memberships table:first-of-type td:last-child {
        width: 159px;
    }

    #memberships table td:last-child, #memberships table:first-of-type th:last-child, #memberships table:first-of-type td:last-child {
        height: 3.3em;
    }

    #memberships table, #memberships table ~ table {
        width: 287px;
        margin-left: auto;
    }
}

body:after {
    content: "";
    flex-grow: 1;
    order: 0;
}

footer {
    order: 1;
    padding: 2.5em 0;
    background: black;
}

footer.business-info address {
    margin-left: 40px;
}

@media (max-width: 700px) {
    footer.business-info > div {
        width: 377px;
    }

    footer.business-info address, footer.business-info dl {
        display: block;
        margin-bottom: 1.5em;
        margin-left: 40px;
    }

    footer.business-info dl {
        padding-right: 3.03571em;
    }

    footer.business-info ul {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
    }

    footer.business-info li {
        width: auto;
    }
}

@media (max-width: 460px) {
    section.business-info dl {
        /* Turn the labels into bullets hanging off the left to prevent a horizontal scrollbar. */
        margin-left: -2.03571em;
    }

    footer.business-info > div {
        width: 100%;
    }

    footer.business-info address, footer.business-info dl {
        margin-left: 20px;
    }

    footer.business-info ul {
        margin: 0 20px;
    }
}
