/* See main.css for default definitions. */
html {
    background-image: url(../images/pages/resources/banner-1024.png);
}

@media (min-width: 1025px) {
    html {
        background-image: url(../images/pages/resources/banner-1680.gif);
    }
}

@media (min-width: 1681px) {
    html {
        background-image: url(../images/pages/resources/banner-1920.gif);
    }
}

/* Given how this was created, banner.gif is not any higher res than the 1920 version. */
/*@media (min-width: 1921px) {
    html {
        background-image: url(../images/pages/resources/banner.gif);
    }
}*/

section:last-of-type {
    margin-bottom: 2.5em;
}

section:after {
    content: "";
    display: block;
    clear: right;   
}

@media (max-width: 799px) {
    section {
        display: flex;
        flex-direction: column;
    }

    section h3 {
        order: -2;
    }

    .page {
        left: auto;
        transform: none;
    }
}

.footnote:last-child {
    margin-bottom: .5em;
}

.fixme {
    position: relative;
}

.fixme:before {
    content: "";
    position: absolute;
    top: .25em;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
}

.fixme:after {
    content: "SAMPLE IMAGE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-22.5deg);
    font-size: 2em;
    white-space: nowrap;
    color: #d74f4f;
    text-shadow: 0 0 3px black;
}
